<ion-view view-title="Todos">
  <form ng-submit="todoC.addTodo(todoC.todo)">
    <div class="bar bar-header bar-subheader item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-plus placeholder-icon"></i>
        <input type="text" ng-model="todoC.todo" placeholder="Add a todo">
      </label>
    </div>
  </form>
  <ion-content class="has-subheader">
    <ion-list class="todo-list">
      <ion-item class="item-icon-left"
        ui-sref="todoDetail({id: todo.id})"
        ng-repeat="todo in todoC.TodoService.todos | orderBy:['done', '-createDate']">
        <todo-item todo="todo"></todo-item>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
